body, html {
    height: 100%;
    margin:0; 
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b;
}
div.header {
    padding-top: 1.5em;
    background-color: #152a4c;
    color: white;
}
div.header .title {
    text-align: center;
}	
div.container h1 {
	text-align: center;
	padding-top: 0.5em;
}
div.site_img {
    margin: auto;
    text-align: center;
    padding-top: 1em;
}
div.site_img img {
    width: 75%;
}
div.caption {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
}
div.url {
    text-align: center;
    padding-top: 0.5em;
}